.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
    
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


body{
    margin-bottom: 50px;
    background-image: url("../images/background/backgroundpic.jpg"); 
}

.collapsible_background{
    background-color: azure;
}


.center-align{
    color: white;
    font-weight: 600;
    
}


.brand-logo{
    margin-left: 10px;
    
    
}



.required{
    color: red;
}

.butt_film{
    margin-left: auto;
    margin-right: 0;
}


@media (max-width: 576px) {
    .xs {
        color: red;
        font-weight: bold;
    }


#button_row{
    display: inline-block;
    width: 100%;
}    
}


@media (min-width: 576px) and (max-width:768px) {
    .sm {
        color: red;
        font-weight: bold;
    }


#button_row{
    display: inline-block;
    width: 100%;
}


}    


@media (min-width: 768px) and (max-width:991px) {
    .sm {
        color: red;
        font-weight: bold;
    }


#button_row{
    display: inline-block;
    width: 100%;
}




}    
