.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
    
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


body{
    margin-bottom: 50px;
    background-image: url("../picturesc/backgroundpic.jpg"); 
}

.collapsible_background{
    background-color: azure;
}


.center-align{
    color: white;
    font-weight: 600;
    
}


.brand-logo{
    margin-left: 10px;
    
    
}


.butt_film{
    margin-left: auto;
    margin-right: 0;
}
