body {
    margin-bottom: 50px;
    background-image: url("../images/background/backgroundpic.jpg");
}


/*---------------------------------------------------------header and navbar*/

#button_row {
    display: inline-block;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.brand-logo {
    margin-left: 10px;
}


/*--------------------------------------------------------------- index page*/

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.collapsible_background {
    background-color: azure;
}

.butt_film {
    margin-left: auto;
    margin-right: 0;
}

.center-align {
    color: white;
    font-weight: 600;
}


/*-------------------------------------------------------------add film page*/

.required {
    color: red;
}


/*--------------------------------------------------------------profile page*/

.profile_card {
    margin-top: 70px;
}


/*----------------------------------------------------------------------------------------smaller screens*/

@media (min-width: 200px) and (max-width: 549px) {
    .xs {
        color: red;
        font-weight: bold;
    }
    .butt_film_small {
        display: inline-block;
        width: 100%;
    }
    .search_butt {
        display: inline-block;
    }
    .back {
        width: 49%;
    }
    .edit {
        width: 49%;
    }
    .film {
        display: none;
    }
    .butt_film {
        float: right;
    }
}

@media (min-width: 550px) and (max-width:768px) {
    .sm {
        color: red;
        font-weight: bold;
    }
    .butt_film {
        float: right;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .md {
        color: red;
        font-weight: bold;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .md {
        color: red;
        font-weight: bold;
    }
    #button_row {
        display: inline-block;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width:824px) {
    .bt {
        color: red;
        font-weight: bold;
    }
    #button_row {
        display: inline-block;
        width: 100%;
    }
}